.topnav {
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    padding-left: 35%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.brand {
    width: 20%;
    display: flex;
    align-content: center;
}

.brand img {
    height: 80%;
    margin: auto;
    object-fit: cover;
}

.left-tabs {
    width: 50%;
}

.right-tabs {
    width: 20%;
}

.topnav .link {
    display: flex;
    height: 100%;
    color: #000;
    text-align: center;
    padding: 40px 17px;
    align-self: center;
    text-decoration: none;
    font-size: 17px;
}

/* Style the links inside the navigation bar */
.topnav .left-tabs .link {
    float: left;
}

.topnav .right-tabs .link {
    float: right;
}

/* Change the color of links on hover */
.topnav .link:hover {
    background-color: #ddd;
    color: white;
}

.topnav .link.active {
    color: darkblue;
}
