.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    height: fit-content;
    padding: 0px 20px;
    margin-bottom: 10px;
    -webkit-box-shadow: 2px 6px 13px -4px rgba(0,0,0,0.62);
    -moz-box-shadow: 2px 6px 13px -4px rgba(0,0,0,0.62);
    box-shadow: 2px 6px 13px -4px rgba(0,0,0,0.62);
}

.cardTitle {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    height: fit-content;
}

.cardSubTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
}

.cardSubTitle a {
    text-decoration: none;
}

.cardSubTitleText {
    display: flex;
    flex: 1;
    text-align: left;
    color: gray;
    font-size: 17px;
}

.publicationDate {
    text-align: left;
    color: gray;
    font-size: 17px;
}

.contentContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.artcileImg {
    width: 100%;
    object-fit: cover;
}

.articleContent {
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
}
