.TextInputContainer {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    width: 98%;
    height: 50px;
    border-radius: 10px;
    color: black;
    padding: 10px;
    font-size: 17px;
}

.normal {
    border: 1px solid gray;
}

.error {
    border: 1px solid #d40103;
}

.errorMsg {
    display: flex;
    margin-left: 10px;
    color: #d40103;
}
